<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title OrildApp
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')

  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container.container-lg
        .navbar-header
          a.navbar-brand(href='/proprietari/') OrildAPP
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.nav-item
              a.nav-link(href='/proprietari/') Proprietari
            li.nav-item
              a.nav-link(href='/animals/') Animale
        ul.nav.navbar-nav.navbar-right(style='width:140px; height: 40px;')
          if user 
            li.nav-item
              a.nav-link(href='/users/logout') Logout
          else 
            li.nav-item
              a.nav-link(href='/users/register') Register 
            li.nav-item
              a.nav-link(href='/users/login') Login

    br
    br

    .container(style='min-height:900px;')
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class='alert alert-danger') #{error.msg}
      block content 
      br 
    
    footer
      .container.container-lg
        p Copyright 2018 
          span.float-right Sas Creations&trade; 

  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
  script(src="/js/animal.js")
  script(src="/js/proprietar.js")
  script(src="/js/date.js")
  script(src="/js/search_t.js")
  
  
  