<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Dyor Vet
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.1.0/css/all.css', integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt', crossorigin='anonymous')


  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container.container-lg(style='padding: 5px;')
        if user
          .navbar-header
            a.navbar-brand(href='/proprietari/' style='margin-right: 45px;')
              img.d-inline-block.align-top(src='/images/logo.png', width='30', height='30', alt='Dyor Vet Logo', style='margin-right: 5px;') 
              | Dyor Vet
        else
          .navbar-header 
          h3.text-center(style='width: 100%;')
            img(src='/images/logo.png', width='50', height='50', alt='Dyor Vet Logo', style='margin-right: 5px;') 
            | Dyor Vet  
        if user   
          ul.nav.navbar-nav.navbar-right
            li.nav-item
              a.nav-link(href='/users/logout') Logout
                i.fas.fa-sign-out-alt(style='margin-left: 7px;')

    br

    .container(style='min-height:900px;')
      != messages('message', locals)
      br
      br
      if errors
        each error, i in errors
          div(class='alert alert-danger') #{error.msg}
      block content 
      br 
    
    //- footer
    //-   .container.container-lg
    //-     p Copyright 2018 
    //-       span.float-right Sas Creations&trade; 

  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
  script(src="/js/animal.js")
  script(src="/js/proprietar.js")
  script(src="/js/date.js")
  script(src="/js/search_t.js")
  
  
  