.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border: #ebccd1;
}

.alert-success_msg {
  color: #3c763d;
  background-color: #dff0d8;
  border: #d6e9c6;
}

.modal-header-success {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #5cb85c;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.modal-header-warning {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #f0ad4e;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.modal-header-danger {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #d9534f;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.modal-header-info {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #5bc0de;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.modal-header-primary {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #428bca;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.modal-header-dark {
  color:#fff;
  padding:9px 15px;
  border-bottom:1px solid #eee;
  background-color: #2b2b2b;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.ui-widget-overlay {
  opacity: .50 !important; /* Make sure to change both of these, as IE only sees the second one */
  filter: Alpha(Opacity=50) !important;

  background: rgb(41, 41, 41) !important; /* This will make it darker */
}

.ui-dialog-titlebar-close {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

footer {
  bottom: 0;
  width: 100%;
  padding: 20px;
  height: 60px; /* Height of the footer */
  background: lightgray;
}

.container-lg {
  min-width: 80%;
}