.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border: #ebccd1;
}

.alert-success_msg {
  color: #3c763d;
  background-color: #f9fcf8;
  border: #c2c2c2;
}

.modal-header-success {
  color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #5cb85c;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header-warning {
  color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #f0ad4e;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-header-danger {
  color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #d9534f;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-header-info {
  color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #5bc0de;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-header-primary {
  color: #fff;
  padding: 9px 14px;
  background-color: #0062cc;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header-dark {
  color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #2b2b2b;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ui-widget-overlay {
  opacity: 0.5 !important; /* Make sure to change both of these, as IE only sees the second one */
  filter: Alpha(Opacity=50) !important;

  background: rgb(41, 41, 41) !important; /* This will make it darker */
}

.ui-dialog-titlebar-close {
  display: none;
}

h6 {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f1f1f1;
}

footer {
  bottom: 0;
  width: 100%;
  padding: 20px;
  height: 60px; /* Height of the footer */
  background: lightgray;
}

a {
  color: #2b2b2b;
}

a:hover {
  text-decoration: none;
  color: #506ed0;
}

.container-lg {
  min-width: 80%;
}

.card-lg-light {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 2px 5px #2b2b2b4d;
}

.padding-sm {
  padding: 4%;
}

.card-header-primary {
  padding: 2%;
  border-radius: 3px 3px 0px 0px;
  background-image: linear-gradient(to bottom right, #0178f7, #0253aa);
  color: #eee;
}

.card-header-success {
  padding: 2%;
  border-radius: 3px 3px 0px 0px;
  background-image: linear-gradient(to bottom right, #55c755, #2a802a);
  color: #eee;
}

.card-header-danger {
  padding: 2%;
  border-radius: 3px 3px 0px 0px;
  background-image: linear-gradient(to bottom right, #e92539, #910d1a);
  color: #eee;
}

.card-header-dark {
  padding: 2%;
  border-radius: 6px 6px 0px 0px;
  background-image: linear-gradient(to bottom right, #eee, #eee);
  color: #eee;
}

.navbar {
  border-bottom: 1.4px solid rgba(95, 95, 95, 0.433);
  padding-top: 0px;
  padding-bottom: 1px;
}

.nav-link {
  border-bottom: 3px solid transparent;
  transition: 0.1s;
}

.primary-link:hover {
  border-bottom: 3px solid #0062cc;
  transition: 0.1s;
}

@media only screen and (max-width: 769px) {
  .responsive-margin-top {
    margin-top: 15px;
  }
}

.search {
  font-size: 15px;
}

.btn {
  border-radius: 5px;
  padding: 10px 20px;
}

.modal-backdrop {
  opacity: 0.7 !important;
}

.dot {
  margin: 10px 15px 10px 10px;
  width: 35px;
  height: 22px;
  font-size: 22px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid #6d6d6d;
  transition: ease-in 200ms;
  transition: 100ms ease-in;
}

.dot-danger {
  margin: 10px 15px 10px 10px;
  width: 35px;
  height: 22px;
  font-size: 22px;
  border-radius: 15px;
  cursor: pointer;
  transition: ease-in 200ms;
  border: 1px solid #ffffff;
  transition: 1ms ease-in;
  transition: 100ms ease-in;
}

.full-dot {
  border: 1px solid #222222;
  background-color: #222222;
  transition: 100ms ease-in;
}

.full-dot-light {
  background-color: white;
  transition: 100ms ease-in;
}

.full-dot-light:hover {
  background-color: #dfdfdf;
  transition: 100ms ease-in;
}

.full-dot:hover {
  border: 1px solid #222222;
  background-color: #222222;
  transition: 100ms ease-in;
}

.status-primary {
  margin: 10px 15px 10px 10px;
  width: 35px;
  height: 22px;
  font-size: 22px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid #007bff;
  background-color: #007bff;
  transition: 100ms ease-in;
}

.status-primary :hover {
  border: 1px solid #026bdb;
  background-color: #026bdb;
  transition: 100ms ease-in;
}

.status-success {
  margin: 10px 15px 10px 10px;
  width: 35px;
  height: 22px;
  font-size: 22px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid #28a745;
  background-color: #28a745;
  transition: 100ms ease-in;
  transition: 1ms ease-in;
}

.status-success :hover {
  border: 1px solid #208b39;
  background-color: #208b39;
  transition: 100ms ease-in;
}

.status-purple {
  margin: 10px 15px 10px 10px;
  width: 35px;
  height: 22px;
  font-size: 22px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid #8a24c5;
  background-color: #8a24c5;
  transition: 100ms ease-in;
  transition: 1ms ease-in;
}

.status-purple :hover {
  border: 1px solid #6d179e;
  background-color: #6d179e;
  transition: 100ms ease-in;
}

.status-danger {
  margin: 10px 15px 10px 10px;
  width: 35px;
  height: 22px;
  font-size: 22px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid #dc3545;
  background-color: #dc3545;
  transition: 100ms ease-in;
  transition: 1ms ease-in;
}

.status-danger :hover {
  border: 1px solid #be2a39;
  background-color: #be2a39;
  transition: 100ms ease-in;
}

.status-warning {
  margin: 10px 15px 10px 10px;
  width: 35px;
  height: 22px;
  font-size: 22px;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid #ffc107;
  background-color: #ffc107;
  transition: 100ms ease-in;
  transition: 1ms ease-in;
}

.status-warning :hover {
  border: 1px solid #daa405;
  background-color: #daa405;
  transition: 100ms ease-in;
}

.inbox {
  background-color: #fafafa;
  padding: 5px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 6px;
  z-index: 0;
  display: flex;
  box-shadow: inset 0 1px 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  margin: 20px !important;
}

.inbox:hover {
  background-color: #e4e3e3;
  z-index: 1;
}

.inbox-danger {
  background-image: linear-gradient(to bottom right, #e92539, #af1322);
  padding: 5px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  z-index: 0;
  display: flex;
  overflow: hidden;
  box-shadow: inset 1px 0 0 #dc354654, inset -1px 0 0 #dc354654,
    0 1px 2px 0 rgba(148, 35, 35, 0.3), 0 1px 3px 1px rgba(163, 30, 30, 0.15);
  margin: 20px !important;
}

.inbox-danger:hover {
  background-image: linear-gradient(to bottom right, #c91829, #8f0b18);
  z-index: 1;
}

.inbox-list {
  background-color: whitesmoke;
  padding: 5px;
  cursor: pointer;
  border-radius: 6px;
  margin: 10px !important;
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.delete-inbox {
  border-radius: 50%;
  height: 40px;
  width: 60px;
  margin-left: 5px;
  transition: 100ms ease-in;
}

.delete-dropdown-item {
  height: 40px;
  width: 60px;
  margin-left: 5px;
}

.delete-inbox:hover {
  background-color: #dc3545;
  transition: 100ms ease-in;
}

.white-icon {
  color: white !important;
}

.text-small {
  font-size: 14px;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

.fa-stack[data-count]:after {
  position: absolute;
  right: 0%;
  top: 1%;
  content: attr(data-count);
  font-size: 100%;
  padding: 0.6em;
  border-radius: 999px;
  line-height: 0.75em;
  color: white;
  background: rgb(231, 14, 61);
  text-align: center;
  min-width: 2em;
  font-weight: bold;
}

.honey-badger {
  background-color: white !important;
  border: 1px solid white !important;
  cursor: pointer;
}

.dropdown-menu {
  width: 400px;
  max-height: 400px;
  overflow: hidden;
  background-color: #ebebeb;
}

.droptop {
  margin-top: 18px;
  margin-bottom: 20px;
  color: #afafaf;
  letter-spacing: 2px;
  cursor: default;
  font-weight: 300 !important;
}

.fa-bell {
  cursor: pointer;
}

.reminders-table {
  overflow: scroll;
  max-height: 335px;
  min-height: 300px;
  padding-bottom: 10px;
}

.table td {
  border-top: 0px;
}

.table tbody {
  border-top: 0px !important;
}

h1,
h2,
h3 {
  letter-spacing: 1.6px;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

h4,
h5 {
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

p {
  letter-spacing: 0.5px;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

th {
  cursor: default;
}

.btn {
  letter-spacing: 0.65px;
  font-weight: 100;
}

.reminders-table::-webkit-scrollbar {
  display: none;
}

.nav-icon {
  color: #afafaf;
  padding: 0px;
  position: absolute;
  left: -63px;
  top: 20px;
  font-size: 10px !important;
  vertical-align: middle !important;
  transition: 200ms;
}

.fa-calendar-alt::before {
  cursor: pointer;
}

.fa-calendar-alt:hover {
  color: #838383;
  transition: 200ms;
}

.fa-calendar-alt {
  cursor: default !important;
}

.list-group {
  min-height: 400px;
  max-height: 400px;
  overflow-y: scroll;
}

.list-group::-webkit-scrollbar {
  display: none;
}

.focused-top-bar {
  left: 63px;
  top: 20px;
}

.delete-dropdown-item {
  position: relative;
  left: 40px;
  top: 2px;
  bottom: 2px;
  margin: auto;
  transition: 200ms;
}

.show-delete {
  left: 0px !important;
  transition: 200ms;
}

.rotate-icon {
  transform: rotate(360deg);
  transition: 200ms;
}

.btn-group {
  border: 1px solid #58585836;
  border-radius: 6px;
}

.btn-group:focus {
  outline: none;
}

.btn:focus {
  outline: none;
  box-shadow: none !important;
}
