extends ../layout

block content 
  .row 
    .col-md-6.offset-md-3
      .card-lg-light
        .card-header-primary 
          h3.text-center Login
        br
        .padding-sm
          form(method='POST', action='/users/login')
            .row 
              .col-md-8.offset-md-2
                #form-group 
                  label Username:
                  input.form-control(name='username', type='text' required oninvalid="this.setCustomValidity('Acest camp este obligatoriu')" oninput="setCustomValidity('')") 
                br
                #form-group 
                  label Parola:
                  input.form-control(name='password', type='password' required oninvalid="this.setCustomValidity('Acest camp este obligatoriu')" oninput="setCustomValidity('')") 
                br
            br
            .row    
              input#btnLogin.btn.btn-primary(type='submit' style="margin:auto;" value="Autentifică-te")
              br
