extends ../layout

block content 
  .row 
    .col-md-6.offset-md-3
      .card-lg-light
        .card-header-primary 
          h3.text-center Login
        br
        .padding-sm
          form(method='POST', action='/users/login')
            .row 
              .col-md-8.offset-md-2
                #form-group 
                  label Username:
                  input.form-control(name='username', type='text') 
                br
                #form-group 
                  label Password:
                  input.form-control(name='password', type='password') 
                br
            br
            .row    
              //- .col-md-2.offset-md-2
              button.btn.btn-primary(type='submit' style="margin:auto;") Login
                i.fas.fa-sign-in-alt(style='margin-left: 7px;')
              br
