extends ../layout

block content 
  h1 Animal nou
  br
  form(method='POST', action='/proprietari/'+proprietar_id+'/animals/add')
    #form-group 
      label Nr. Matricol
      input.form-control(name='registration_nr', type='text') 

    br

    #form-group 
      label Specia
      select.form-control(name='species', type='text') 
        option(value='', selected='', disabled='', hidden='') Choose here
        option(value='Caine') Caine
        option(value='Pisica') Pisica
        option(value='Bovin') Bovin
        option(value='Cal') Cal
        option(value='Other') Other

    hr

    #form-group 
      label Animale Tratate
      input.form-control(name='quantity', type='number') 
    br
    #form-group 
      label Simptomatologie
      input.form-control(name='simptomatologie', type='text') 
    br
    #form-group 
      label Diagnoticul
      input.form-control(name='diagnostic', type='text') 

    br
    
    input.btn.btn-primary(type='submit', value='Submit')