extends ../layout

block content 
  h1 #{title}
  p Your proprietar is #{proprietar_id}
  form(method='POST', action='/proprietari/'+proprietar_id+'/animals/add')
    #form-group 
      label Name
      input.form-control(name='name', type='text') 
    #form-group 
      label Type
      //- input.form-control(name='type', type='text') 
      select.form-control(name='type', type='text') 
        option(value='', selected='', disabled='', hidden='') Choose here
        option(value='Caine') Caine
        option(value='Pisica') Pisica
        option(value='Bovin') Bovin
        option(value='Cal') Cal
        option(value='Other') Other

    #form-group 
      label Age
      input.form-control(name='age', type='number') 
    br
    input.btn.btn-primary(type='submit', value='Submit')