extends ../layout

block content 
  h1 Toate Animalele
  br
  //- ul.list-group
  //-   each animal, i in animals
  //-     h4
  //-       li.list-group-item
  //-         a(href='/proprietari/'+animal.proprietar_id+'/animals/' + animal._id)= animal.name 
  table.table
    thead
      tr
        th Nr. Matricol
        th.text-center Specie
        th.text-center Qantitate
    each animal, i in animals
      tbody
        tr
          td.align-middle
            a(href='/proprietari/'+animal.proprietar_id+'/animals/' + animal._id)= animal.registration_nr
          td.text-center.align-middle= animal.species
          td.text-center.align-middle= animal.quantity