extends ../layout

block content 
  h1.text-center Adaugati Proprietar
  br
  br
  .col-md-8.offset-md-2
    form(method='POST', action='/proprietari/add')
      #form-group
        label Nume:
        input.form-control(name='name', type='text') 
      br
      .row 
        .col-md-4
          #form-group 
            label Adresa:
            input.form-control(name='address', type='text') 
        .col-md-4
          #form-group 
            label Nr Tel:
            input.form-control(name='phone', type='text') 
        .col-md-4
          #form-group 
            label Email:
            input.form-control(name='email', type='text') 
      br
      input.btn.btn-primary(type='submit', value='Adauga')