extends ../layout

block content 
  h1 Add Tratament
  br
  form(method='POST' action='/animals/'+animal._id+'/tratamente/add')
    #form-group 
      label Denumirea produsului medicinal administrat:
      input.form-control(name='name' type='text') 
    br
    #form-group 
      label Seria:
      input.form-control(name='series' type='text') 
    br
    #form-group 
      label Valabilitatea produsului medicinal administrat:
      input.form-control#expiry(name='expiry_date' type='text') 
    br
    #form-group 
      label Doza de administrare:
      input.form-control(name='dose' type='number') 
    br
    #form-group 
      label Timpul de asteptare:
      input.form-control(name='waiting_time' type='text') 
    br
    #form-group 
      label Durata tratamentului:
      input.form-control(name='duration' type='text') 
    br
    #form-group 
      label Rezultatul tratamentului:
      select.form-control#animal-type(name='result', type='text') 
        option(value='' selected hidden disabled) Alegeti din acestea optiuni
        option(value='Caine') Vindecat
        option(value='Pisica') Mort
        option(value='Bovin') Sacrificat
    br
    #form-group 
      .form-check
        input#semnatura.form-check-input(type='checkbox')
        label.form-check-label(for='semnatura') Semnatura proprietar
    br
    #form-group 
      label Observatii:
      input.form-control(name='observations' type='text') 
    br
    #form-group 
      label Data de administrare:
      input.form-control#administration_date(name='administration_date' type='text') 
    br
    #form-group 
      label Number de Matricol:
      input.form-control(name='animal_id' type='text' value=animal.registration_nr disabled) 
    br
    input.btn.btn-primary(type='submit' value='Creati')


  

